extends layout.pug

block conteudo
    div(class="conteudo")
        p #{msg}
        if players != null
            div(class="row")
                each player in players
                    if player
                        include player/player.pug
