div(class="navbar")
    
    a(href="/" class="menuItem") Início
    a(href="config" class="menuItem") Configuração
    form(action="/", method="post") 
        label(for="gameSearch") GameId: 
        input(type="search", name="gameSearch" id="gameSearch")
        input(type="submit", value="Buscar")
        input(type="checkbox" onclick='hideOrShowLines()' checked id="hideShowAll") 
        label(for="hideShowAll") Esconder minimizados