if player.achievements // Verifica se o player foi carregado
    div(class="column")
        table
            tr
                th #
                th #{player.nome}
            each achievement, index in gameAchievements
                include achievement/achievementBase.pug