if player.achievements
    div(class="column")
        table
            tr
                th #
                th #{player.nome}
            each achievement, index in gameAchievements
                include achievement/achievementBase.pug