* {
    box-sizing: border-box;
    color: rgb(230, 207, 252);
}

body {
    margin: 0px;
    background-color: rgb(24, 20, 32);
}

textarea {
    color: black;
}

.row {
    display: flex;
}

th {
    background-color: rgb(49, 44, 59);
    padding: 12px 10px 10px 5px;
    text-align: center;
    vertical-align: middle;
}

th > img{
    float: left;
}

td {
    background-color: rgb(42, 35, 56);
}

tbody {
    min-width: 400px;
    display: inline-block;
}

.column {
    flex: 50%;
    padding: 5px;
}

.imgConquistaGray,
.imgConquista {
    transform: scale(0.7);
}

.imgConquistaGray {
    filter: grayscale(100%) blur(1px);
    opacity: 0.6;
}

.conquistaTitulo {
    margin: 1px;
    padding-left: 8px;
    font-size: 16px;
}

.conquistaDesc {
    margin: 1px;
    padding-left: 8px;
    font-size: 12px;
}

.navbar {
    padding: 14px;
    margin: 0px;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid black;
    text-align: left;
    position: fixed;
    background-color: rgb(24, 20, 32);
    z-index:9000;
}

.conteudo {
    padding-top: 55px;
}

.menuItem {
    padding: 14px;
}

form {
    display: inline;
}

input[type=submit] {
    color: black;
}