tr 
    td 
        if player.achievements[index].achieved === 1
            img(src=achievement.icon)
        else 
            img(src=achievement.icongray)
    td
        p #{achievement.displayName}
        p #{achievement.description}

