tr(id='linha'+index onclick='hideLine("linha'+index+'")') 
    td 
        if player.achievements[index].achieved === 1
            img(src=achievement.icon, class="imgConquista")
        else 
            img(src=achievement.icon, class="imgConquistaGray")
    td
        p(class="conquistaTitulo") #{achievement.displayName}
        p(class="conquistaDesc") #{achievement.description}
